* {
    margin: 0;
    padding: 0;
}

html { font-size: 80%; }

@font-face {
    font-family: 'Open Sans';
    src:  url('OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Semibold';
    src:  url('OpenSans-Semibold.ttf');
}

@font-face {
    font-family: 'Open Sans Extrabold';
    src:  url('OpenSans-Extrabold.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src:  url('OpenSans-Light.ttf');
}

body {
    font-family: "Open Sans";
    background: #f3f3f3;
}

.wrap {
    /*max-width: 1280px;*/
    max-width: 100%;
    margin: 0 auto;
}
.alignright {
    float: left;
    padding-right: 20px;
}
.alignleft {
    float: right;
    padding-left: 20px;
}
.is-style-regular table {
    border-collapse: collapse;
}

.is-style-regular td {
    border: 1px solid #ccc;
    padding: 3px;
}
.phone-block {
    background: rgba(229, 231, 233, 0.51);
    border-bottom: 1px solid #dddddd;
    height: 30px;
    width: 100%;
}
.phone-block-logo {
    display: block;
    /*margin-left: 87%;*/
    font-size: 14px;
    /*margin-top: -25px;*/
    width: 600px;
    position: absolute;
    top: 5px;
    right: 0;
}
.phone-block-logo span {
    left: 5px;
    position: relative;
    top: -3px;
    display: inline-block;
    width: 125px;
}

header {
    margin: 0 auto;
    width: 70%;
}

.logo {
    float: left;
    margin-top: -.2%;
    /*margin-left: 10px;*/
    /*width: 21.99%;*/
}
.logo img {
    max-width: 100%;
    height: auto;
    width: 140px;
}
/*** menu ***/
.nav-top {
    height: 25px;
    left: 250px;
    position: relative;
    z-index: 1000;
    behavior: url(/wp-content/themes/telestar/pie/PIE.htc);
    display: table;
    top: 12px;
    /*width: 1100px;*/
}


.nav-top ul {
    height: 55px;
    width: 100%;
    behavior: url(/wp-content/themes/telestar/pie/PIE.htc);
}

.nav-bottom {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    z-index: 1000;

    border-radius: 25px;
    behavior: url(/wp-content/themes/telestar/pie/PIE.htc);
    display: table;
}

.nav-bottom ul {
    border-radius: 13px 12px 0 0;
    behavior: url(/wp-content/themes/telestar/pie/PIE.htc);
    height: 44px;
}


.center-menu > li {
    font-size: 1.35rem ;
    display: inline-block;
    *display: inline;
    position: relative;
    top: 0;
    font-family: "Open Sans Semibold";
}

.center-menu li:hover {
    color: #FFFFFF;
}

.a-children {
    behavior: url(/wp-content/themes/telestar/pie/PIE.htc);
}
.center-menu > li:first-child {
    border: none;
}

.center-menu  li a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 14px;
    display: block;
    white-space: nowrap;
    color: #424242;
    border-radius: 4px;
}
.center-menu > li > a:hover {
    color: #FFFFFF;
    background: #ed1c24;
}
.center-menu > li > span {
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 14px;
    display: block;
    background: #ed1c24;
    border-radius: 4px;
}

.center-menu li ul {
    position: absolute;
    visibility: hidden;
    z-index: 9999;
    width: auto;
    height: auto;
    display: block;
    behavior: url(/wp-content/themes/telestar/pie/PIE.htc);
    font-size: 13px;
    list-style: none;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 9px;
    background: #ed1c24;
}
.center-menu li ul li {
    float: none;
    padding: 5px;
}

.center-menu li ul li:nth-child(even) {
    padding-top: 0px;
    padding-bottom: 0;
}
.menu-item-has-children > a {
    cursor: default;
}

.menu-item-has-children > a::after {
    content: "\00003E";
    left: 5px;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    transform: scale(1.2, 0.8) rotate(90deg);
    color: #424242;
    font-size: 10px;
}

.menu-item-has-children > a:hover::after {
    color: #FFFFFF;
}

.center-menu li ul li:last-child {
    padding-bottom: 5px;
}
.center-menu li ul li a {
    white-space: nowrap;
    padding: 7px 30px 7px 15px;
    position: relative;
    display: block;
    color: #ffffff;
    background: rgba(237, 159, 160, 0.6);
    border-radius: 4px;
    text-transform: none;
}

.center-menu li ul li span {
    white-space: nowrap;
    padding: 7px 30px 7px 15px;
    position: relative;
    color: #424242;
    display: block;
    text-transform: none;
    background: #f3f3f3;
    border-radius: 4px;
}

.sub-menu {
    border-top: none;
}
.sub-menu::before {
    content: "\0025B2";
    left: 10px;
    margin: 0 auto;
    position: absolute;
    top: -14px;
    color: #ed1c24;
    transform: scale(1.7, 0.9);
}
.sub-menu a{
}
.sub-menu li:hover {
    /*background: #e21f26;*/
}
.sub-menu li a:hover{
    color: #424242;
    background: #f3f3f3;
}

.sub-menu li a::before {
    content: "\00003E";
    left: 5px;
    margin: 0 auto;
    position: absolute;
    top: 8px;
    transform: scale(0.8, 1.2);
    color: #ffffff;
}
.sub-menu li a:hover::before {
    color: #424242;
}
.sub-menu li span:before {
    content: "\00003E";
    left: 5px;
    margin: 0 auto;
    position: absolute;
    top: 8px;
    transform: scale(0.8, 1.2);
    color: #424242;
}

.billing_button a {
    position: relative;
    left: 200px;
}

.billing_button span {
    position: relative;
    left: 200px;
}

.order {
    float: right;
    margin-right: 30px;
    color: #2e2c2c;
    text-transform: uppercase;
    background: #ffd04d;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: -2.5%;
    text-decoration: none;
}

.content-main {
    max-width: 100%;
    margin-top: 3px;
    margin-bottom: 1%;
}
.content-main-about {
    margin: 0 auto;
    width: 70%;
}

.content-main-about-container-title {
    font-size: 30px;
    color: #ed1c24;
    margin-bottom: 25px;
}

.content-main-about-container-text {
    text-align: justify;
    color: #7c7d7e;
    font-size: 1.3rem;
}

.top-slide-line {
    background: url('/wp-content/themes/telestar/img/linear.png');
    height: 9px;
    width: 100%;
}

.top-breadcrumbs {
    background: #ececec;
    height: 30px;
    width: 100%;
}
.top-breadcrumbs-container {
    width: 70%;
    margin: 0 auto;
}

.prices {
    background: #ececec;
    height: 550px;
    margin-top: 50px;
    text-align: center;
}

.prices-block {
    background: #f8f8f8;
    display: inline-table;
    width: 14%;
    margin-top: 30px;
    color: #888888;
    border-radius: 5px;
    margin-right: 30px;
    box-shadow: 0 2px 6px #ccc;
}

.optimal {
    background: #8b9e9e;
    color: #FFFFFF;
}
.optimal .prices-block-top, .optimal .prices-block-bottom  {
    background: #ed1c24;
    color: #FFFFFF;
}
.optimal .prices-block-text-text-price {
    color: #ffe28a;
}

.prices-title {
    color: #ed1c24;
    font-size: 40px;
    margin-bottom: 60px;
    position: relative;
    text-transform: uppercase;
    top: 40px;
}
.prices-block-top {
    background: #7f8c8c;
    font-family: "Open Sans";
    font-weight: bold;
    margin: -20px auto;
    padding: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #ffffff;
    width: 60%;
    font-size: 0.8vw;
}
.prices-block-text {
    font-size: 1.15rem;
    height: 200px;
    margin: 33px auto;
    padding: 10px;
    width: 70%;
}
.prices-block-text-title {
    font-weight: bold;
    margin-bottom: 10px;
}
.prices-block-text-text-price {
    color: #ed1c24;
    margin-bottom: 10px;
}
.prices-block-text-text-minute {
    font-weight: bold;
}
.prices-block-bottom {
    background: #7f8c8c;
    font-family: "Open Sans Semibold";
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    width: 60%;
    margin: -7% auto;
    display: block;
    text-decoration: none;
}

.include-prices {
    margin: 30px auto 0;
    width: 60%;
    text-align: justify;
}
.include-prices-title {
    text-align: center;
    font-size: 40px;
    color: #ed1c24;
    font-family: "Open Sans Light";
    margin-bottom: 20px;
}

.include-prices-text {
    color: #888888;
}
.include-prices-text ul {
    list-style: none;
}

.include-prices-text ul li {
    list-style-image: url("/wp-content/themes/telestar/img/arrow.png");
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.promo-metaslider {
    /*z-index: -1 !important;*/
    /*top: -614px;*/
}
.nivo-caption {
    background: rgba(0, 0, 0, 0.0) none repeat scroll 0 0 !important;
    /*height: 140px;*/
    opacity: 1 !important;
    top: 280px;
    width: 66% !important;
    left: 435px !important;
}
.promo {
    color: #ffffff;
    position: relative;
    text-align: right;
}
.nivo-controlNav a {
    background: #b0b8b9 !important;
    height: 6px !important;
    margin: 0 5px !important;
    width: 50px !important;
}
.nivo-controlNav a.active {
    background: #ed1c24 !important;
}
.text-promo-main {
    background: #ed5b58;
    display: inline-table;
    font-size: 40px;
    padding: 0px 5px;
    border-radius: 4px;
    font-family: "Open Sans Extrabold";
    margin-bottom: 10px;
    margin-right: 7%;
}

.text-promo-small {
    font-family: "Open Sans";
    font-size: 15px;
    background: #3f4646;
    border-radius: 4px;
    display: inline-table;
    height: 100%;
    margin-left: 57%;
    padding: 6px 10px;
    text-align: left;
}

.promo-button {
    padding: 10px 20px;
    border: 2px solid #ffffff !important;
    border-radius: 4px;
    /*width: 15%;*/
    float: right;
    text-decoration: none;
    color: #ffffff;
}
.promo-services {
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
}

.promo-servives-title {
    font-size: 22pt;
    color: #103b7a;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.promo-line {
    border-bottom: 1px solid #ffd04d;
    text-align: center;
    margin: 0 auto;
    width: 92%;
    margin-bottom: 40px;
}

.promo-line span {
    border-bottom: 3px solid #ffd04d;
    width: 200px;
    display: block;
    margin: 0 auto;
}

.promo-block {
    display: inline-block;
    width: 390px;
    height: 130px;
    overflow: hidden;
    text-align: left;
    margin-right: 30px;
    margin-bottom: 40px;
}

.promo-block-title {
    font-size: 22pt;
    color: #000000;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
}
.promo-block-text {
    font-family: "Open Sans";
    float: left;
    width: 285px;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.promo-block-image {
    /*background-image: url("/wp-content/themes/telestar/img/promo-block-image.png");*/
    width: 81px;
    height: 81px;
    float: right;
}

/* content */

.content-header {
}
.content-title {
    width: auto;
    /*padding: 10px 20px;*/
    color: #7f8c8c;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    font-family: "Open Sans Semibold";
    position: relative;
    top: 5px;
}

.content-title::after {
    content: " ";
    display: none;
    height: 20px;
    margin-top: 26px;
    transform: rotate(45deg);
    width: 20px;
    background: #ececec;
}

.content-body {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.service-second-page {
    text-align: left;
}
.breadcrumbs {
    display: inline-block;
    float: right;
    position: relative;
    top: 5px;
    font-family: "Open Sans";
    font-size: 12px;
    color: #7f8c8c;
}
.breadcrumbs a {
    text-decoration: none;
    color: #7f8c8c;
}
.breadcrumbs span {
}

.breadcrumbs-span-title {
    color: #d9d9d9;
}

.content-container {
    /*width: 70%;*/
    margin: 0 auto;
    /*margin-top: 50px;*/
}
.content-container-header-img, .content-container-footer-img {
    height: 100%;
    max-width: 100%;
    width: 100%;
}
.content-container-post {
    background: #ececec;
    padding: 3%;
    color: #777777;
    border-radius: 5px;
    width: 70%;
    margin: 20px auto;
    font-size: 1.3rem;
    text-align: justify;
}
.content-container-post strong {
    color: #4f6a6c;
}
.content-container-post ul {
    padding: 20px;
}
.content-container-post ul li {
    list-style-image: url('/wp-content/themes/telestar/img/arrow.png');
    line-height: 2;
}
.content-container-tariff {
    width: 70%;
    margin: 50px auto;
}
.content-container-tariff-list {
    display: inline-block;
    width: 29%;
    margin-right: 40px;

}
.content-container-tariff-list ul li {
    list-style: none;
    color: #777777;
    border-bottom: 1px solid #d5e0e5;
    padding: 14px 0 5px;
}

.content-container-tariff-name {
    text-transform: uppercase;
    font-size: 16px;
    color: #4f6a6c !important;
    font-weight: bold;
}

.content-container-tariff-table {
    display: inline-block;
    width: 65%;
    vertical-align: top;
    margin-top: -30px;
}

.content-container-tariff-table-prices-block {
    background: #f8f8f8;
    display: inline-table;
    width: 22.4%;
    margin-top: 30px;
    color: #888888;
    text-align: center;
    border: 1px solid #c2eeec;
    border-radius: 5px;
    margin-left: 20px;
}
.content-container-tariff-table-prices-block-name {
    background: #7f8c8c;
    color: #ffffff;
}
.content-container-tariff-table-prices-block div {
    border-top: 1px solid #d5e0e5;
    padding: 9.2px 10px;
    font-weight: bold;
}
.content-container-tariff-table-prices-block .optimal {
    background: #e2534b;
}
.service {
    height: 400px;
    margin-right: 0px;
    width: 350px;
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-bottom: 60px;
}

.service-title-bottomline {
    display: inline-block;
    width: 40px;
    /*border-top: 4px solid  #103b7a;*/
    margin-bottom: 20px;
}

.service-main-block-img {
    width: 350px;
    height: 255px;
}
.service-block-title {
    color: #2c2c2c;
    display: block;
    font-size: 26px;
    margin-bottom: 10px;
    text-decoration: none;
}
.service-block-text {
    float: left;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.service-block-link {
    text-transform: uppercase;
    font-style: italic;
    color: #e21f26;
    font-family: "Open Sans";
}


.contact-block {
    margin-top: 140px;
    background: #ffd04d;
    width: 100%;
    height: 450px;
    text-align: center;
    padding-top: 25px;

}

.contact-block .promo-servives-title {
    color: #2c2c2c;
    margin-top: 20px;
}
.contact-block .promo-line {
    border-bottom: 1px solid #f5f5f5;
}
.contact-block .promo-line span{
    border-bottom: 3px solid #f5f5f5;
}
.contact-block-inform {
    display: inline-block;
    margin-right: 105px;
    position: relative;
    text-align: left;
    /*top: -40px;*/
}
.contact-block-about-container-title {
    font-size: 17pt;
    text-transform: uppercase;
    color: #e21f26;
}
.contact-block-inform-about-container {
    margin-bottom: 20px;
}

.contact-block-about-container-title span {
    padding-left: 30px;
}
.contact-block-about-container-text {
    font-family: "Open Sans";
    color: #2c2c2c;
    padding-left: 30px;
}
.contact-block-content {
    width: 70%;
    margin: 0 auto;
}
.contact-block-map {
    display: inline-block;
    margin-top: 60px;
    border: 1px solid #d7d7d7;
    height: 400px;
    width: 100%;
}
.contact-block-map iframe{
    /*width: 100%;*/
}

.contact-block-text {
    background: #ececec;
    color: #889393;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    width: 70%;
    margin: 40px auto 0;
    font-size: 1.1rem;
}
.contact-block-text > p {
    padding: 10px;
}
.contact-block-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}
.contact-block-form {
    display: inline-block;
    width: 50%;
    /*border: 1px solid #dddddd;*/
    margin: 0 auto;
    height: 300px;
}

#form-reserve table {
    width: 100%;
}

#form-reserve label {
    margin-left: 20px;
    font-size: 1.5rem;
}
#form-reserve input {
    background: #e6e6e6;
    border-radius: 3px;
    border: none;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 0 #ccc inset;
    font-size: 1.5rem;

}
#form-reserve input[name^="req"], #form-reserve input[name^='contact'] {
    width: 100%;
}
#form-reserve input[type=submit] {
    padding: 10px 25px;
    background: #e2534b;
    color: #ffffff;
    box-shadow: none;
    font-size: 16px;
}
#form-reserve input:focus{
    background: #cbdede;
}
#form-reserve label {
    color: #7f8c8c;
}
#form-reserve textarea {
    background: #e6e6e6;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0 #ccc inset;
    padding: 10px;
    width: 75%;
}
#form-reserve span {
    vertical-align: top;
    color: #7f8c8c;
}
.container-captcha {
    margin-top: 30px;
    margin-bottom: 30px;
}
.container-captcha a {
    vertical-align: top;
}
.container-captcha > img {
    box-shadow: 1px 1px 5px #cccccc;
    margin-left: 20px;
}
.container-captcha-input {
    margin: 0 20px !important;
    vertical-align: top;
    height: 38px;
}
#response {
    padding: 15px;
}
.contact-block-address {
    display: inline-block;
    width: 30%;
    margin: 0 auto 0 17%;
    vertical-align: top;
}

.contact-block-name {
    font-family: "Open Sans Semibold";
    font-size: large;
    text-transform: uppercase;
    color: #7f8c8c;
    margin-bottom: 20px;
}

.contact-block-address .location {
    background: url("/wp-content/themes/telestar/img/location-icon.png") no-repeat 0px 0px;
    height: 32px;
}

.contact-block-address .email {
    background: url("/wp-content/themes/telestar/img/email-icon.png") no-repeat 0px 7px;
}
.contact-block-address .phone {
    background: url("/wp-content/themes/telestar/img/phone-icon.png") no-repeat 0px 7px;
}

.contact-block-address span {
    display: block;
    width: 100%;
    margin-left: 40px;
    margin-top: 30px;
    color: #7f8c8c;
    font-size: 1.2rem;
    height: 22px;
    padding-top: .5%;
}
.copy_requisites {
    background: url("/wp-content/themes/telestar/img/copy.png") no-repeat 0px 7px;
    cursor: pointer;
    position: relative;
}
.tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #9c9c9c;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 8px 6px;
    position: absolute !important;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    font-size: 14px;
    top: -30px;
    font-family: 'Jura', sans-serif;
}
.copy_requisites:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.toggle-weight {
    background: url("/wp-content/themes/telestar/img/copy.png") no-repeat 1px 8px;
}

.contact-block-address .requisites {
    height: 320px;
}

.contact-block-address .email a {
  color: #e2534b;
}

.service-gallery-column {
    display: inline-block;
    width: 60%;
}

.service-menu-column {
    display: inline-block;
    vertical-align: top;
    background: #f4f4f4;
    width: 25%;
    margin-left: 50px;
    padding: 50px;

}
.service-menu-column .promo-line span {
    border-bottom: 4px solid #f5d149;
    width: 134px;
    margin: 0;
}
.service-menu-column .promo-line {
    border-bottom: 1px solid #f5d149;
    text-align: left;
    width: auto;
    margin-top: 10px;
}
.service-menu-column-title {
    text-transform: uppercase;
    font-size: 20px;
}
.service-block-title-line {
    border-bottom: 4px solid #103b7a;
    width: 40px;
    margin: 20px 0;
}
.service-menu-column-list {
    margin-top: -20px;
}
.service-menu-column-list li {
    list-style: none;
    color: #103b7a;
    /*font-family: MyriadPro-Regular;*/
    font-size: 14pt;
    border-bottom: 1px solid #dddddd;
    padding: 20px 0px;
}
.service-menu-column-list li a {
    color: #000000;
    text-decoration: none;
}
.service-menu-column-list li span {
    color: #e21f26;
}
.gv_galleryWrap {
    background: transparent !important;
    padding: 0 !important;

}
.gv_panelWrap {
    border-bottom: 6px solid #f5d149;
    margin-bottom: 20px;
}
.gv_filmstripWrap {
    width: 700px !important;
    left: 0 !important;
}

.gv_filmstrip {
    width: 700px !important;
}

.gv_frame {
    margin: 0 6.5px 0 auto !important;
}

.gv_frame .gv_thumbnail {
    width: 170px !important;
}

.gv_frame img {
    width: 170px !important;
}

.gv_frame:nth-child(4) {
    margin-right: 0 !important;
}

.reviews-item {
    padding: 10px;
    margin-left: 20px;
    margin-right: 40px;
}
.reviews-item-foto {
}

.reviews-item-content {
    float: right;
    text-align: justify;
    width: 75%;
}
.reviews-item-message {
    color: #2c2c2c;
}
.reviews-item-sign {
    text-transform: uppercase;
    color: #2c2c2c;
}
.reviews-item-sign-line {
    border-bottom: 3px solid #f5f5f5;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 10%;
}
.reviews-item-more {
    color: #e21f26;
}
.owl-theme .owl-controls .owl-page span {
    background: transparent !important;
    border: 2px solid !important;
    color: #2c2c2c !important;
    height: 16px !important;
    width: 16px !important;
    opacity: 1 !important;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #2c2c2c !important;
}

.css_guestbook_font_color {

}
.css_guestbook_font_color .css_post_embedded {
    background: #f9c937;
    color: #2c2c2c;
    width: 100%;
    text-align: justify;
    box-sizing: border-box;
}
.css_guestbook_font_color .css_post_header1 {
    text-transform: uppercase;
    color: #e21f26;
    margin-bottom: 10px;
}
.css_guestbook_font_color .css_post_message {
    font-size: 15px;
    display: inline-block;
    width: 85%;
}
.css_guestbook_font_color .css_post_separator {
    margin-bottom: 10px;
    width: 10%;
    height: 2px;
}
.css_guestbook_font_color .css_post_img {
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
}
.css_guestbook_font_color .css_form_embedded {
    width: 100%;
    border: 1px solid #23478d;
    box-sizing: border-box;
}

.order-form {
    border: 1px solid #23282d;
    margin: 0 auto;
    width: 70%;
    text-align: left;
    padding: 25px;
}
.order-form label {
    color: #4c4c4c;
    text-transform: uppercase;
    font-size: 12px;
}
.order-form input {
    font-size: 16px;
    padding: 5px;
    width: 30%;
    margin-bottom: 10px ;
}
.order-form textarea {
    padding: 10px;
}
.order-form [name='code'] {
    width: 15%;
    vertical-align: top;
}

.order-form .captcha-block {
    margin-top: 10px;
}
.order-form [type='submit'] {
    margin-top: 10px;
}

.order-form .captcha-block > span {
    display: inline-block;
    vertical-align: top;
}

.response-order {
    width: 40%;
    padding: 10px;
    margin: 20px auto;
}
.successresponse {
    background: rgba(0, 244, 0, 0.51);
    padding: 10px;
}
/* Gallery */

.ngg-album {
    display: inline-block;
    height: 260px !important;
    margin-bottom: 20px !important;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 30.61%;
}
.ngg-album:hover {
    background: rgba(255, 208, 77, 0.1) none repeat scroll 0 0;
}
.ngg-album a{
    text-decoration: none;
    color: #e21f26;
    font-weight: normal;
    /*text-transform: uppercase;*/
}

.ngg-thumbnail img:hover {
    background: none !important;
}
.ngg-thumbnail img {
    padding: 2px !important;
    border: none !important;
}
.ngg-description {
    display: none;
}
.ngg-albumtitle {
    text-align: center !important;
}
.ngg-thumbnail {
    float: none!important;
}
.gv_galleryWrap {
    margin: 0 auto !important;
}
/* footer */
footer {
    width: 100%;
    margin: 0 auto;

    background: #ececec;
}

.footer-menu {
    /*display: inline-block;*/
    float: right;
    /*width: 60%;*/
    font-size: 14px;
}
.nav-footer ul{
}
.nav-footer ul li {
    /*list-style: none;*/
    list-style-image: url('/wp-content/themes/telestar/img/list-image.png');
    line-height: 2.2;
}
.nav-footer ul li a {
    color: #777777;
    text-decoration: none;
}
.nav-footer ul li span {
    color: #2a3131;
}
.bottom-slide-line {
    background: url('/wp-content/themes/telestar/img/linear-footer.png');
    height: 9px;
    width: 100%;
    margin-top: 100px;
}
.footer-container {
    height: 200px;
    width: 70%;
    margin: 0 auto;
}
/*.footer-container::after {*/
    /*content:"";*/
    /*display:block;*/
    /*clear:both;*/
/*}*/

.footer-contact {
    /*margin-top: 20px;*/
    display: inline-block;
    margin-left: 100px;
    width: 30%;
    position: relative;
    left: 20%;
    top: 21px;
}
.footer-contact-phone {
    height: 50px;
}
.footer-contact-phone span:nth-child(odd), .footer-contact-email span:nth-child(odd){
    font-size: 13px;
    text-decoration: underline;
    color: #777e7e;
    margin-bottom: 30px;
}
.footer-contact-phone span:nth-child(even), .footer-contact-email span:nth-child(even){
    color: #7f8c8c;
    display: block;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    left: 100px;
    position: relative;
    top: -20px;
}
/*.footer-contact-phone span:nth-child(3) {*/
/*    color: #7f8c8c;*/
/*    display: block;*/
/*    font-size: 16px;*/
/*    font-style: italic;*/
/*    font-weight: bold;*/
/*    left: 100px;*/
/*    position: relative;*/
/*    top: -20px;*/
/*}*/
.footer-menu-main {
    display: inline-block;
    margin-left: 180px;
}
.footer-menu-spec {
    display: inline-block;
    margin-left: 75px;
}
.footer-left-column {
    display: inline-block;
    width: 39%;
    vertical-align: top;
}
.footer-boottom {
    background: #d1d1d1;
    width: 100%;
    padding: 5px 0;
    margin-top: 50px;
}

.footer-logo {
    display: block;
    margin-top: 30px;
    width: 13%;
}
.footer-logo img {
    max-width: 100%;
    height: auto;
}
.footer-text {
    font-size: 13px;
    text-align: justify;
    line-height: 1.7;
    margin-top: 20px;
}

.footer-oferta-link {
    margin-top: 25px;
}

.footer-oferta-link a {
    color: #e2534b;
}

.footer-copyright {
    font-size: 11px;
    color: #7f8c8c;
    width: 70%;
    margin: 0 auto;
}

/* Popup */
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99000000', endColorstr='#99000000'); /* IE */
    bottom: 0;
    cursor: default;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.popup {
    width: auto;
    background-color: #fff;
    display: inline-block;
    margin: 0 auto;
    padding: 0px;
    position: absolute;
    z-index: 999999;
    font-size: 16px;
}

.popup .close-order {
    width: 6px;
    height: 17px;
    position: absolute;
    padding: 1px 9px 4px 9px;
    top: -15px;
    right: -15px;
    cursor: pointer;
    color: #fff;
    font-family: 'tahoma', sans-serif;
    background-color: #3d51c8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
}

.-message {
    padding: 20px;
    font-size: 18px;
}

.popup-order {
    padding: 10px;
}

.popup-order input[type=submit] {
    width: 100%;
}