@media (min-width: 1441px) and (max-width: 1600px){
    html { font-size: 73%; }
}

@media (min-width: 1281px) and (max-width: 1440px){
    html { font-size: 59%; }
}
@media (min-width: 980px) and (max-width: 1280px){
    body{
        font-size: 12px;
    }
    header {
        margin: 0 auto;
        width: 100%;
        /*background: #ccc;*/
    }
    .logo {
        padding-left: 10px;
    }
    .nav-top {
        left: 35px;
    }

    .center-menu > li {
        font-size: 11px;
        transition: .2s ease-in-out;
    }
    .center-menu li a {
        padding: 8px 9px;
    }
    .center-menu li span {
        padding: 8px 9px;
    }
    .menu-item-has-children > .name-element {
        padding-left: 15px;
    }
    .nivo-caption {
        left: 235px !important;
        overflow: visible;
        top: 50px;
    }
    .text-promo-main {
        font-size: 18px;
        padding: 10px;
    }
    .text-promo-small {
        font-size: 12px;
    }
    .content-container-post {
        width: 94%;
    }
    .content-container-tariff {
        width: 97%;
    }
    .content-container-tariff-table-prices-block {
        width: 21.5%;
    }
    .prices-block {
        width: 20%;
    }
    .prices-block-top {
        font-size: 11px;
    }
    .prices-block-bottom {
        font-size: 11px;
    }
    .prices-block-text {
        width: 75%;
        font-size: 1.2vw;
    }

    .top-breadcrumbs-container {
        width: 95%;
    }

    .contact-block-content {
        width: 95%;
        margin: 0 auto;
    }
    .contact-block-text {
        width: 95%;
    }
    .contact-block-container {
        width: 95%;
    }
    .contact-block-form {
        width: 47%;
    }
    #form-reserve textarea {
       width: 100%;
    }
    .container-captcha-input {
        font-size: 1.1rem !important;
    }
    .contact-block-map {
        width: 100%;
    }
    .contact-block-map iframe {
        width: 100%;
    }
    .include-prices {
        width: 85%;
    }

    .footer-container {
        width: 95%;
    }
    .footer-menu {
        font-size: 12px;
    }
    .footer-menu-main {
        margin-left: 110px;
    }

    .footer-left-column {
        width: 32%;
    }
}
/*Samsung galaxy Tab landscape, Ipad portrait, Ipad mini portrait*/
@media (min-width: 801px) and (max-width: 979px) {
    html { font-size: 65%; }
    body{
        /*background: rgb(142, 206, 255);*/
        font-size: 12px;
    }
    header {
        margin: 0 auto;
        width: 100%;
        /*background: #e400ff;*/
    }

    .nav-top {
        left: 25px;
    }
}

.animenu input[type=checkbox], .animenu label {
    display: none;
}
.animenu {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*Samsung galaxy Tab portrait*/
@media (min-width: 481px) and (max-width: 800px) {
    html { font-size: 75%; }
    body{
        /*background: #58cc02;*/
    }
    header {
        margin: 0 auto;
        width: 100%;
        /*background: green;*/
    }

    .phone-block-logo {
        /*margin: -25px auto;*/
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .metaslider {
        display: none;
    }

    .animenu {
        width: 100%;
        left: 0;
        font-size: 13px;
    }
    .animenu input {
        display: none;
    }
    .animenu > ul, .animenu > ul ul {
        visibility: visible;
        opacity: 1;
        display: none;
    }

    .animenu label {
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        display: block;
        padding: 10px 0;
        text-align: center;
        background: #c5c5c5;
    }
    .animenu label:before {
        position: absolute;
        left: 40%;
        top: -4px;
        content: "\2261";
        font-size: 30px;
    }
    .animenu > ul {
        position: relative;
        background-image: none;
        height: 100%;
    }

    .animenu > ul li {
        display: block;
    }
    .animenu > ul > li {
        float: none;
        border: 0;
        background-image: none;
    }
    .animenu > ul > li > a {
        float: none;
        display: block;
        padding: 5px;
    }
    .animenu > ul ul {
        position: static;
        background-image: none;
        margin: 0;
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
    }

    .animenu > ul ul li:first-child > a:after {
        content: none;
    }

    .animenu > ul ul a {
        padding-left: 2em;
        display: block;
        width: auto;
    }
    .animenu input[type=checkbox]:checked ~ ul {
        display: block;
    }
    .animenu input[type=checkbox]:checked ~ ul ul {
        display: block;
    }

    .center-menu > li > span {
        background: none;
        color: #f1f1f1;
        padding: 5px;
        background: #ed1c24;
    }

    .sub-menu::before {
        display: none;
    }

    .center-menu li ul {
        font-size: 12px;
        border-radius: 0;
    }
    .center-menu li a, .center-menu li span {
        border-radius: 0;
        font-size: 2.5vw;
    }

    .menu-item-has-children > a {
        /*margin-left: 10px;*/
    }

    .menu-item-has-children > a::after {
        left: 50%;
    }

    .center-menu li ul li a {
        white-space: normal;
        border-radius: 0;
    }

    .center-menu li ul li span {
        white-space: normal;
        border-radius: 0;
    }

    .content-main-about {
        width: 97%;
    }
    .content-main-about-container-title {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }

    .content-container-post {
        width: 94%;
    }

    .content-container-tariff {
        font-size: 9px;
        margin: 50px auto;
        width: 99%;
    }

    .content-container-tariff-list {
        display: inline-block;
        width: 22%;
        margin-right: 0;
    }

    .content-container-tariff-list ul li {
        border-bottom: 1px solid #d5e0e5;
        color: #777777;
        list-style: outside none none;
        padding: 10px 0 9px;
    }
    .content-container-tariff-table {
        display: inline-block;
        margin-top: -30px;
        vertical-align: top;
        width: 77%;
    }
    .content-container-tariff-name {
        font-size: 12px !important;
    }
    .content-container-tariff-table-prices-block {
        background: #f8f8f8 none repeat scroll 0 0;
        border: 1px solid #c2eeec;
        color: #888888;
        display: inline-table;
        margin-left: 0;
        margin-top: 30px;
        text-align: center;
        border-radius: 0;
        width: 24.552%;
    }
    .content-container-tariff-table-prices-block div {
        border-top: 1px solid #d5e0e5;
        font-weight: bold;
        padding: 11px 1px;
    }

    .content-main-about-container-title {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }
    .prices {
        height: auto;
    }
    .prices-block {
        width: 47%;
        margin-right: 0;
        margin-bottom: 40px;
    }
    .prices-block-top {
        font-size: 3vw;
    }
    .prices-block-text {
        /*font-size: 2.5vw;*/
    }
    .include-prices {
        width: 90%;
    }

    .include-prices-title {
        font-size: 30px;
    }
    .contact-block-name {
        text-align: center;
    }
    .contact-block-content{
        width: 97%;
    }
    .contact-block-text {
        width: 97%;
    }
    .contact-block-container {
        width: 97%;
    }
    .contact-block-form {
        display: block;
        width: auto;
        height: auto;
    }
    .contact-block-address {
        width: auto;
        margin: 0;
    }

    #form-reserve label {
        font-size: 1rem;
        margin-left: 20px;
    }
    #form-reserve input[type="submit"] {
        width: 97%;
    }
    .footer-container {
        width: 97%;
    }
    .footer-logo {
        width: 100%;
    }

    .footer-left-column {
        display: block;
        width: 100%;
    }
    .footer-contact-phone span:nth-child(2n), .footer-contact-email span:nth-child(2n) {
        width: 130px;
    }
    .footer-copyright {
        width: 97%;
        white-space: nowrap;
        text-align: center;
    }
}

/*iphone*/

@media (min-width: 300px) and (max-width: 480px) {
    body{
        font-size: 12px;
    }
    header {
        /*background: red;*/
        margin: 0 auto;
        width: 100%;
    }

    .logo {
        left: 25%;
        position: relative;
    }

    .phone-block-logo {
        font-size: 13px;
        text-align: center;
        width: 100%;
    }

    .metaslider {
        display: none;
    }

    .animenu {
        width: 100%;
        left: 0;
        font-size: 13px;
    }
    .animenu input {
        display: none;
    }
    .animenu > ul, .animenu > ul ul {
        visibility: visible;
        opacity: 1;
        display: none;
    }

    .animenu input[type=checkbox]:checked ~ label,
    .animenu input[type=checkbox] ~ label:hover {
        /*color: #808080;*/
    }
    .animenu label {
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        display: block;
        padding: 10px 0;
        text-align: center;
        background: #c5c5c5;
    }
    .animenu label:before {
        position: absolute;
        left: 35%;
        top: -3px;
        content: "\2261";
        font-size: 30px;
    }
    .animenu > ul {
        position: relative;
        background-image: none;
        height: 100%;

    }
    .animenu > ul > li {
        display: block;
        float: none;
        border: 0;
        background-image: none;
    }
    .animenu > ul > li > a {
        float: none;
        display: block;
        padding: 5px;
    }
    .animenu > ul ul {
        position: static;
        /*background-color: #2b2b2b;*/
        background-image: none;
        margin: 0;
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
    }

    .animenu > ul ul li:first-child > a:after {
        content: none;
    }

    .animenu > ul ul a {
        padding-left: 2em;
        display: block;
        width: auto;
    }
    .animenu input[type=checkbox]:checked ~ ul {
        display: block;
    }
    .animenu input[type=checkbox]:checked ~ ul ul {
        display: block;
    }

    .center-menu > li > span
    {
        background: none;
        color: #f1f1f1;
        padding: 5px;
        background: #ed1c24;
    }

    .sub-menu::before {
        display: none;
    }

    .center-menu li ul {
        font-size: 12px;
        border-radius: 0;
    }
    .center-menu li a, .center-menu li span {
        border-radius: 0;
        font-size: 2.5vw;
    }

    .menu-item-has-children > a {
        /*margin-left: 10px;*/
    }

    .menu-item-has-children > a::after {
        left: 50%;
    }

    .center-menu li ul li a {
        white-space: normal;
        border-radius: 0;
    }

    .center-menu li ul li span {
        white-space: normal;
        border-radius: 0;
    }

    .top-breadcrumbs-container {
        width: 98%;
    }
    .content-title {
        font-size: 11px;
    }
    .content-main-about {
        width: 97%;
    }
    .content-main-about-container-title {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }

    .content-container-post {
        width: 94%;
    }

    .content-container-tariff {
        font-size: 9px;
        margin: 50px auto;
        width: 99%;
    }

    .content-container-tariff-list {
        display: inline-block;
        width: 22%;
        margin-right: 0;
    }

    .content-container-tariff-list ul li {
        border-bottom: 1px solid #d5e0e5;
        color: #777777;
        list-style: outside none none;
        padding: 0 0 5px;
    }
    .content-container-tariff-table {
        display: inline-block;
        margin-top: -30px;
        vertical-align: top;
        width: auto;
    }
    .content-container-tariff-name {
        font-size: 12px !important;
    }
    .content-container-tariff-table-prices-block {
        background: #f8f8f8 none repeat scroll 0 0;
        border: 1px solid #c2eeec;
        color: #888888;
        display: inline-table;
        margin-left: 0;
        margin-top: 30px;
        text-align: center;
        width: auto;
        border-radius: 0;
    }
    .content-container-tariff-table-prices-block div {
        border-top: 1px solid #d5e0e5;
        font-weight: bold;
        padding: 11px 1px;
    }
    .prices {
        height: auto;
    }
    .prices-title {
        font-size: 30px;
        top: 10px;
    }

    .prices-block {
        width: 100%;
        margin-bottom: 60px;
        display: block;
        border-radius: inherit;
    }
    .prices-block-top {
        font-size: 4vw;
    }
    .prices-block-text {
        font-size: 3.5vw;
    }
    .include-prices {
        width: 97%;
    }

    .include-prices-title {
        font-size: 30px;
    }
    .footer-container {
        width: 97%;
    }
    .footer-logo {
        width: 100%;
    }
    .footer-container {
        height: 245px;
    }
    .footer-left-column {
        display: block;
        width: 100%;
    }
    .footer-contact-phone span:nth-child(2n), .footer-contact-email span:nth-child(2n) {
        width: 130px;
    }
    .footer-copyright {
        width: 97%;
        white-space: nowrap;
        text-align: center;
    }
    .footer-contact {
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
        left: 0;
    }
}



@media (min-resolution: 3dppx ) and (max-width: 700px) {
    header {
        /*background: #f8ff00;*/
        /* remove because desktop Chrome shows it */
    }
}

/*@media (min-resolution: 3dppx ) and (max-width: 512px) {*/
    /*header {*/
        /*background: #ff8900;*/
        /*!* remove because desktop Chrome shows it *!*/
    /*}*/
/*}*/



